.icon-48-thdailynewslettermanager {
      background-image: url(../images/s_thdailynewslettermanager.png) no-repeat;
      padding-left:60px!important;
}

.icon-48-newsletter {
      background-image: url(../images/s_thdailynewslettermanager.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}