.ja-ss-sprite {
  text-align: left;
}
.ja-ss-sprite img {
  width: 70%;
  background: none;
  display: inline-block;
}
@media (min-width: 1280px) {
  .ja-ss-sprite img {
    width: auto;
  }
}
.ja-ss-item-bg {
  position: relative;
  z-index: 1;
}
.ja-ss-sprite,
.ja-ss-desc {
  position: absolute;
  z-index: 2;
  opacity: 0;
}
.leftright .ja-ss-sprite.first {
  bottom: 10%;
  right: -10%;
}
.leftright .ja-ss-sprite.second {
  bottom: 10%;
  right: 110%;
}
.active.leftright .ja-ss-sprite.first {
  right: 40%;
}
.active.leftright .ja-ss-sprite.second {
  right: 60%;
}
.leftleft .ja-ss-sprite.first,
.leftleft .ja-ss-sprite.second {
  bottom: 20%;
  right: -10%;
}
.active.leftleft .ja-ss-sprite.first {
  right: 40%;
}
.active.leftleft .ja-ss-sprite.second {
  right: 60%;
}
.rightright .ja-ss-sprite.first,
.rightright .ja-ss-sprite.second {
  bottom: 20%;
  right: 110%;
}
.active.rightright .ja-ss-sprite.first {
  right: 40%;
}
.active.rightright .ja-ss-sprite.second {
  right: 60%;
}
.updown .ja-ss-sprite.first {
  left: 0;
  bottom: -50%;
  right: auto;
}
.updown .ja-ss-sprite.second {
  right: 60%;
  bottom: 110%;
}
.active.updown .ja-ss-sprite.first {
  bottom: 0;
  left: 0;
  right: auto;
}
.active.updown .ja-ss-sprite.second {
  bottom: 20%;
}
.downdown .ja-ss-sprite.first {
  right: 40%;
  bottom: 110%;
}
.downdown .ja-ss-sprite.second {
  right: 60%;
  bottom: 110%;
}
.active.downdown .ja-ss-sprite.first {
  bottom: 20%;
}
.active.downdown .ja-ss-sprite.second {
  bottom: 20%;
}
.rupdown .ja-ss-sprite.first {
  -webkit-transform-origin: -200% 70%;
  -moz-transform-origin: -200% 70%;
  -o-transform-origin: -200% 70%;
  transform-origin: -200% 70%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  right: 40%;
  bottom: 20%;
}
.rupdown .ja-ss-sprite.second {
  -webkit-transform-origin: 200% 70%;
  -moz-transform-origin: 200% 70%;
  -o-transform-origin: 200% 70%;
  transform-origin: 200% 70%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  right: 60%;
  bottom: 20%;
}
.active.rupdown .ja-ss-sprite.first,
.active.rupdown .ja-ss-sprite.second {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.rupup .ja-ss-sprite.first {
  -webkit-transform-origin: -200% 70%;
  -moz-transform-origin: -200% 70%;
  -o-transform-origin: -200% 70%;
  transform-origin: -200% 70%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  right: 40%;
  bottom: 20%;
}
.rupup .ja-ss-sprite.second {
  -webkit-transform-origin: 200% 70%;
  -moz-transform-origin: 200% 70%;
  -o-transform-origin: 200% 70%;
  transform-origin: 200% 70%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 60%;
  bottom: 20%;
}
.rupup .ja-ss-desc {
  top: -10%;
  left: auto;
  bottom: auto;
  right: 50%;
  margin-right: -240px;
}
.active.rupup .ja-ss-sprite.first,
.active.rupup .ja-ss-sprite.second {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.active.rupup .ja-ss-desc {
  top: 35%;
  left: auto;
  bottom: auto;
  right: 50%;
}
.active .ja-ss-sprite {
  opacity: 1;
}
.ja-ss-desc {
  bottom: 45%;
  top: auto;
  right: -20%;
  opacity: 0;
  width: 480px;
}
.active .ja-ss-desc {
  right: 0;
}
.active .ja-ss-desc {
  opacity: 1;
}
.custom .ja-ss-item {
  opacity: 0;
}
.custom .ja-ss-item.curr {
  opacity: 1;
}
.custom .ja-ss-item.prev {
  right: -100%;
}
.custom .ja-ss-item.next {
  right: 100%;
}
.custom .ja-ss-item.curr {
  right: 0%;
}
.ie8 .custom .updown .ja-ss-desc.animate,
.ie9 .custom .updown .ja-ss-desc.animate,
.old-ie .custom .updown .ja-ss-desc.animate {
  right: 0 !important;
  left: auto !important;
}
.ie8 .custom .rupup .ja-ss-desc,
.ie9 .custom .rupup .ja-ss-desc,
.old-ie .custom .rupup .ja-ss-desc {
  right: 50% !important;
}
.ie8 .custom .animate.ja-ss-item .first,
.ie9 .custom .animate.ja-ss-item .first,
.old-ie .custom .animate.ja-ss-item .first {
  right: auto !important;
  bottom: 0 !important;
}