.ja-slideshow {
  background: url("../../images/slideshow-bg.jpg");
}
@media screen and (max-width: 1350px) {
  .ja-slideshow .container {
    padding-right: 84px;
    padding-left: 84px;
  }
}
.ja-ss-slideshow {
  position: relative;
  height: 309px;
}
.ja-ss-loading:before {
  content: "";
  display: block;
  background: url("../../images/slideloading.gif") transparent no-repeat center center;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}
.ja-ss-wrap {
  position: relative;
  width: 100%;
}
.ja-ss-items {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.ja-ss-item {
  display: block;
  float: right;
  margin: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 260px;
  z-index: 1;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.ja-ss-item.prev {
  display: block;
}
.ja-ss-item.next {
  display: block;
}
.ja-ss-item.curr {
  z-index: 2;
  
}
.ja-ss-item img {
  max-width: 100%;
  width: 100%;
}
.ja-ss-mask {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.ja-ss-desc {
  position: absolute;
  right: 20px;
  top: 35%;
  width: 60%;
  padding: 0;
  color: #ffffff;
  font-size: 18px;
  z-index: 3;
}
.ja-ss-desc .btn {
  margin-top: 24px;
}
.ja-ss-desc h3 {
  margin: 0 0 24px;
  font-size: 60px;
  color: #ffffff;
  font-weight: 300;
}
.ja-ss-desc h3 a {
  color: #ffffff;
  line-height: normal;
  text-decoration: none;
}
.ja-ss-desc p {
  font-size: 12px;
  line-height: 18px;
  margin: 10px 0;
}
.ja-ss-btns {
  z-index: 10;
  -webkit-transform: none !important;
}
.ja-ss-btns .ja-ss-playback,
.ja-ss-btns .ja-ss-stop,
.ja-ss-btns .ja-ss-play {
  display: none;
}
.ja-ss-btns span {
  background: url("../../images/bc-lr.png") no-repeat right top;
  color: #fff;
  cursor: pointer;
  display: block;
  float: right;
  height: 60px;
  margin-top: -30px;
  padding: 0;
  position: absolute;
  text-indent: -999em;
  top: 50%;
  width: 60px;
  z-index: 100;
}
.ja-ss-btns .ja-ss-prev {
  background-position: 100% 0;
  right: -84px;
}
.ja-ss-btns .ja-ss-prev:hover {
  background-position: right bottom;
}
.ja-ss-btns .ja-ss-next {
  background-position: left 0;
  left: -84px;
}
.ja-ss-btns .ja-ss-next:hover {
  background-position: left bottom;
}
.ja-ss-thumbs-wrap {
  height: 16px;
  width: 100%;
  clear: both;
  position: absolute;
  bottom: 30px;
  overflow: hidden;
  z-index: 1000;
  line-height: 1;
}

.ja-ss-thumbs {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  
  white-space: nowrap;
  
}
.ja-ss-thumbs .ja-ss-thumb {
  display: inline-block;
  overflow: hidden;
  margin: 0 3px;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
  border: 2px solid #aaa;
  height: 10px;
  width: 10px;
  text-indent: -999em;
  text-indent: 0\9;
  border-radius: 10px;
  
  background-clip: padding-box;
}
.ja-ss-thumbs .ja-ss-thumb.active {
  border-color: #73bfe6;
  background: #73bfe6;
}
.ja-ss-thumbs .ja-ss-thumb.active img {
  opacity: 1;
}