.icon-48-datas {
      background-image: url(../images/l_datas.png);
      padding-left:60px!important;
}

.icon-48-data {
      background-image: url(../images/l_datas.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}