.ul_recipes {padding-left:0px;margin-left: 0px;list-style: none outside none;}
.recipe_container_left {text-align:left;}
.recipe_container_center {text-align:center;}
.recipe_container_right {text-align:right;}
.intro_text { }
.recipe-picture-thumb {border: 1px solid #D9D9D9;padding: 6px;background-color:white;width: 100px;}
.ingredientsTitle {font-weight:bold;}
.ingredientsList {font-style:italic;font-size:8pt;}
.mod_yoorecipe_readmore {text-align:right;font-style:italic;}
.difficulty, .cost {font-weight:bold;}
.preparation_time, .cook_time, .wait_time {font-size:8pt;}

.fl-left{float:left;}
.rating-stars  {
	position:relative;
	background-color: #CCC;
}
.rec-detail-wrapper .rating-stars {
    margin-left: 0;
    margin-right: 7px;
    margin-top: 0;
}
.rec-detail-wrapper .rating-stars-grad {
    background:#d77835;/* Old browsers */
	background:-moz-linear-gradient(top, #d77835 0%, #f08727 40%, #f4a066 100%);/* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#d77835), color-stop(40%,#f08727), color-stop(100%,#f4a066));/* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #d77835 0%,#f08727 40%,#f4a066 100%);/* Chrome10+,Safari5.1+ */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d77835', endColorstr='#f4a066',GradientType=0 );/* IE6-9 */
	height: 20px;
    left: 0;
    position: absolute;
    top: 0;
}
.rec-detail-wrapper .rating-stars-img-mod {
    background: url("../images/recipe_stars.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 113px;
}
.rec-detail-wrapper .stars69x13 .rating-stars-img-mod {
    background: url("../images/recipe_stars_69x13.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 13px;
    width: 69px;
}
.rec-detail-wrapper .rating-stars.stars69x13 {
    height: 13px;
    top: 0;
    width: 69px;
	}
.rec-detail-wrapper .stars69x13 .rating-stars-grad {
    height: 13px;
}
.stars113x20{
	width: 113px;
	height: 20px;
}