
	.dOptIn {text-align:left; margin-bottom:125px; padding:25px 30px 35px 30px; border:1px solid #c3c1c2; }
	.dOptInTitle {color:#63857d; font-size:24px; font-family:verdana,arial,sans-serif; margin-bottom:15px; }
	.dOptInText, .dOptInText a {font-size:14px; font-family:verdana,arial,sans-serif; }
	.dOptInText strong {font-weight:bold; color:#63857d; }
